[Unit]
Description=netplane-server
After=podman.service
Requires=podman.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/podman run --rm --name netplane-server --env-file /root/netplane-server.env --network=host ghcr.io/bitomia/netplane-server
ExecStop=/usr/bin/podman stop netplane-server
StandardOutput=append:/var/log/netplane-server.out.log
StandardError=append:/var/log/netplane-server.err.log