[Unit]
Description=netplane-client
After=network.target

[Service]
Restart=on-failure
ExecStart=/opt/netplane/netplane tun0 12.0.0.0 255.255.255.0 12.0.0.2 116.203.59.48:5000
PIDFile=/run/reticual/netplane-server.pid
StandardOutput=append:/var/log/netplane-client.out.log
StandardError=append:/var/log/netplane-client.err.log

[Install]
WantedBy=multi-user.target
