[Unit]
Description=reticula-server
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/docker run --rm --name reticula-server --env-file /root/reticula-server.env --network=host ghcr.io/bitomica/reticula-server
ExecStop=/usr/bin/docker stop reticula-server
StandardOutput=append:/var/log/reticula-server.out.log
StandardError=append:/var/log/reticula-server.err.log