[Unit]
Description=reticula-client
After=network.target

[Service]
Restart=on-failure
ExecStart=/opt/reticula/reticula client tun0 12.0.0.0 255.255.255.0 12.0.0.2 116.203.59.48:5000
PIDFile=/run/reticual/reticula-server.pid
StandardOutput=append:/var/log/reticula-client.out.log
StandardError=append:/var/log/reticula-client.err.log

[Install]
WantedBy=multi-user.target
